$text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05) !default;

// Navbar ======================================================================

.bg-primary {
  background-color: $primary;
}

.bg-dark {
  background-color: $gray-500;
}

.bg-light {
  background-color: $gray-200;
}

.navbar-brand,
.nav-link {
  text-shadow: $text-shadow
}

// Buttons =====================================================================

.btn {
  text-shadow: $text-shadow;
  box-shadow: none;

  &:focus, &:active, &.focus {
    box-shadow: none !important;
  }

  &.btn-outline-secondary {
    border-color: $gray-200;
    color: $gray-200;
  }
}

// Typography ==================================================================

.text-secondary {
  color: $gray-500 !important;
}

.bg-primary,
.bg-success,
.bg-info,
.bg-warning,
.bg-danger,
.bg-dark {
  h1, h2, h3, h4, h5, h6 {
    color: $white;
  }
}

// Tables ======================================================================

// Forms =======================================================================

// Navs ========================================================================

.dropdown-menu {
  .dropdown-header {
    color: $gray-600;
  }
}

// Inputs ======================================================================
.form-control:not([disabled]):not([readonly]) {
  &:hover {
    background-color: $gray-200;
  }

  &:focus {
    background-color: $white;
  }
}

.form-control {
  &:disabled {
    box-shadow: none;
  }
}

.form-control {
  &.is-valid,
  &.is-invalid {
    &:focus {
      box-shadow: inset 0 0 2px $gray-700;
    }
  }

  &:focus {
    box-shadow: inset 0 0 2px $gray-700;
  }
}

// Indicators ==================================================================

// Progress bars ===============================================================

// Containers ==================================================================

// Cards ==================================================================
.card.bg-secondary {
  .card-header, .card-text {
    color: $gray-800;
  }
}

// Modal ==================================================================
.modal {
  .modal-content {
    border: 0;
  }

  .modal-header {
    background-color: $primary;

    * {
      color: $gray-200;
    }
  }
}

@mixin custom-button-outline-variant($color, $color-hover: color-yiq($color), $active-background: $color, $active-border: $color) {
  $outline-btn-border-color: rgba(27, 31, 35, .15);
  $outline-btn-background-color: #f3f4f6;
  $color-btn-shadow: 0 1px 0 rgba(27, 31, 35, .04);
  $color-btn-inset-shadow: inset 0 1px 0 hsla(0, 0%, 100%, .25);

  color: $color;
  border-color: $outline-btn-border-color;
  box-shadow: $color-btn-shadow, $color-btn-inset-shadow;

  @include hover {
    color: $color;
    background-color: $outline-btn-background-color;
    border-color: darken($outline-btn-border-color, 1);
  }

  &:focus,
  &.focus {
    box-shadow: 0 0 0 $btn-focus-width rgba($color, .5);
  }

  &.disabled,
  &:disabled {
    color: $color;
    background-color: transparent;
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  .show > &.dropdown-toggle {
    color: $color;
    background-color: darken($outline-btn-background-color, 4);
    border-color: $outline-btn-border-color;

    &:focus {
      // Avoid using mixin so we can pass custom focus shadow properly
      @if $enable-shadows and $btn-active-box-shadow != none {
        box-shadow: $btn-active-box-shadow, 0 0 0 $btn-focus-width rgba($color, .5);
      } @else {
        box-shadow: 0 0 0 $btn-focus-width rgba($color, .5);
      }
    }
  }
}

$outline-theme-colors: map-remove($theme-colors, "secondary", "light");

@each $color, $value in $outline-theme-colors {
  .btn-outline-#{$color} {
    @include custom-button-outline-variant($value);
  }
}

.dropdown-menu {
  box-shadow: $dropdown-box-shadow;
}

*, .btn, .form-control {
  font-weight: 300;
}
